<div class="home-chart py-5">
  <%= column_chart Post.group(:blog_id).group_by_day_of_week(:created_at, format: "%a").count, xtitle: "Day of the Week", ytitle: "Number of Posts", id: "posts-day-chart" %>
</div>
