<div class="home-chart py-5">
  <%= column_chart posts_per_day_posts_path, title: "Blog posts per day", xtitle: "Day of the Week", ytitle: "Number of Posts", id: "posts-day-chart", height: "500px" %>
</div>
